.container {
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text-container {
  width: 50%;
}

.link-list {
  line-height: 12px;
}

.vans-show {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.vans-show > img {
  width: 100%;
  height: 100%;
}
